
/* Set height of body and the document to 100% to enable "full page tabs" */



body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  position: relative;
  animation: mymove 2s alternate;
  animation-fill-mode: forwards;
  }

@keyframes mymove {
  from {top: 0px;}
  to {top: 6px;}
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: rgb(80, 57, 57);}
#News {background-color: rgb(50, 66, 50);}
#Contact {background-color: rgb(42, 42, 57);}
#About {background-color: rgb(66, 59, 47);}

